.App{
  font-family: "Raleway";
  text-align: center;
  color: antiquewhite;
}
.menu {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(5,5,5,0.5);
  box-shadow: 0px 0 8px rgba(0,0,0, 1);

}
.links{
  color: white;
  text-decoration: none;
  font-weight: 30;
}
.icons-linkedin{
  background-image: url("./assets/pictures/1727490_linkedin_social media_job_network_icon.png");
  height: 64px;
  width: 64px;
}
.icons-github{
  background-image: url("./assets/pictures/6214513_github_logo_icon.png");
  height: 100%;
  width: 100%;
}
.home-page{
  top: 50%;
  left: 25%;
  right: 25%;
  position:fixed;
  color: antiquewhite;
}
.homebutton, .form-button{
  color: antiquewhite;
  background: rgba(0,0,0,0);
  font-size: xxx-large;
  justify-content: space-evenly;
  border-color: rgba(250, 235, 215, 0.5)
}
.is-active, em{
  color: aqua;
  font-style: normal;
}
.about, about-text{
  min-height: 100vh; /* minimum height = screen height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.text-area {
  font-family: "Raleway";
  color: antiquewhite;
  background-color: black;
  font-size: x-large;
  font-weight: lighter;
  padding: 5px;
  border-width: 3px;
  border-style: wave;
  border-color: rgba(255, 255, 255, 0.10);
}
